<h1><%= @merchant.name %> Discounts Page</h1>
<br>
<%= link_to "Create a new Discount", new_merchant_bulk_discount_path(@merchant) %>
<section id="discounts">
  <dl>
    <% @merchant.bulk_discounts.each do |discount| %>
      <section id="<%= discount.id %>">
        <dt><strong>ID: <%= discount.id %>&emsp;<%= button_to "Delete", merchant_bulk_discount_path(@merchant, discount), method: :delete, data: { turbo: false}, form: {style: 'display:inline-block;'} %></strong></dt>
          <dd><%= discount.percentage %>% Off</dd>
          <dd>All items purchased in quantities of <%= discount.threshold %> or more.</dd>
          <dd><%= link_to "Go to Discount: #{discount.id}'s Show Page", merchant_bulk_discount_path(@merchant, discount) %></dd>
      </section><br>
    <% end %>
  </dl>
</section>
  